<h1>
  Шифрование данных
</h1>
<div style="cursor: pointer" *ngFor="let text of texts" (click)="input = text; process()">
  {{text}}
</div>
<textarea rows="4" cols="50" [(ngModel)]="input" (ngModelChange)="onTextChange()" ></textarea>
<br>
<label *ngFor="let entry of options">
  <input type="radio" name="radiogroup"
         [checked]="entry.id === 0"
         [value]="entry.id"
         (change)="onCipherChange(entry)">
  {{ entry.description }}
  <br>
</label>
<div style="word-wrap:break-word;">
  <h2>Закодированно:</h2>
  <p>
    {{encoded}}
  </p>
  <h2>Зашифровано:</h2>
  <p>
    {{encrypted}}
  </p>
  <h2>Шифрограмма:</h2>
  <p>
    {{ciphered}}
  </p>
  <h2>Дешифровано:</h2>
  <p>
    {{decrypted}}
  </p>
  <h2>Декодировано:</h2>
  <p>
    {{decoded}}
  </p>
</div>
